<div class="row">
    <div class="col-sm-12 col-md-8">
        <h3><%= todoItem.title %></h3>
        <h4><%= todoItem.rating %></h4>
        <button onclick="upVote('<%= todoItem._id %>')" >&uarr;</button>
		<button onclick="downVote('<%= todoItem._id %>')" >&darr;</button>
		<button onclick="deleteMovie('<%= todoItem._id %>')" >Delete</button>
    </div>
</div>